<h1>Login Page</h1>

<form [formGroup]="loginFrom" (ngSubmit)="onSubmit()">
  <div class="container">
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email" />
      <mat-hint *ngIf="loginFrom.controls.email.errors"
        >Email is requied</mat-hint
      >
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        placeholder="Password"
        formControlName="password"
        type="password"
      />
      <mat-hint *ngIf="loginFrom.controls.password.errors"
        >Password is requied</mat-hint
      >
    </mat-form-field>
    <button
      mat-flat-button
      color="primary"
      [disabled]="loginFrom.invalid"
      type="submit"
    >
      Login
    </button>
  </div>
</form>
